@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;900&display=swap');

/* Color Theme Swatches in Hex */
$light-back: #F9E4AD;
$dark-back: #E6B098;
$accent: #CC4452;
$light-fore: #723147;
$dark-fore: #31152B;

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    background-color: $dark-back;
    color: $light-fore;
}

a
{
    text-decoration: underline;
    color: lighten($light-fore, 20%);
}

@for $i from 1 through 8
{
    .ver-sp-#{$i}
    {
        width: 100%;
        height: ($i * 25px);
    }
}

@for $i from 1 through 10
{
    .wd-#{$i}
    {
        width: ($i * 10%);
    }
}

.separator
{
    margin: 0;
    height: 25px;
    border: none;
    background: linear-gradient(0deg, $light-back 20%, $dark-back 50%, $light-back 80%);
}

.text-content
{
    text-align: center;
}

.section-container
{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-content
{
    padding: 10px;
    margin: 0 auto;
    background-color: $light-back;
    padding: 10px;
}

.section-heading
{
    @extend .text-content;
    font-size: 36px;
    margin: 0;
}

.section-subheading
{
    @extend .text-content;
    font-size: 28px;
    margin: 0;
}

.sec-p
{
    @extend .text-content;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 1.75;
}

.rounded-image
{
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(0,0,0,.1);
}

.center-block
{
    display: block;
    margin: 0 auto;
}

.screenshot
{
    display: block;
    margin: 20px auto;
    width: 100%;
}

.image-logo
{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.collage-row
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.collage-column
{
    flex: 50%;
    padding: 0 4px;
}

.collage img
{
    vertical-align: middle;
    width: 80%;
}

.section-button
{
    background-color: $accent;
    color: $light-back;

    text-decoration: none;
    font-weight: bold;
    font-size: 28px;

    display: block;
    width: 80%;
    padding: 20px 0;

    position: relative;
    cursor: pointer;
    transition: all 0.2s;
}

.section-button.animate
{
    transform: scale(1.2);
}

.section-button span
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.section-button p
{
    margin: 0;
    display: block;
    text-align: center;
}

#section-welcome
{
    background-image: url("../src/imgs/profile-cover.png");
}

#section-welcome .section-heading
{
    font-size: 48px;
    font-weight: bolder;
}

#section-escape
{
    background-image: url("../src/imgs/projects/escape/cover.png");
}

#section-blackout
{
    background-image: url("../src/imgs/projects/blackout/cover.png");
}

#section-dice
{
    background-color: #1CA5B8;
}

#section-return-stronger
{
    background-image: url("../src/imgs/projects/return-stronger/cover.jpg");
}

#section-proceeding-back
{
    background-image: url("../src/imgs/projects/proceeding-back/cover.png");
}

#section-space-sim
{
    background-image: url("../src/imgs/projects/space-sim/cover.png");
}

#profile-pic
{
    width: 50%;
    max-width: 200px;
}

@media screen and (min-width: 720px)
{
    .section-content
    {
        width: 60%;
    }

    .text-content
    {
        text-align: left;
    }

    .screenshot
    {
        width: 80%;
        max-width: 480px;
    }

    .image-logo
    {
        width: 80%;
        max-width: 600px;
    }

    .collage img
    {
        display: block;
        margin: 0 auto;
        max-width: 450px;
    }

    .ignore-desktop
    {
        display: none;
    }

    .section-button
    {
        max-width: 256px;
    }
}